<div class="mx-auto max-w-md overflow-hidden rounded-lg bg-white shadow">
  <div class="p-4">
    <div id="booklist" *ngFor="let book of books" class="border border-gray-300 rounded-lg p-4 flex items-start">
      <!-- Image on the left -->
      <img [src]="book.imageUrl" alt="{{ book.title }}" id="image" class="w-24 h-auto">

      <!-- Book details (title and ISBN) on the right -->
      <div>
        <h3 class="text-xl font-medium text-gray-900 p-4" id="title">{{ book.title }}</h3>
        <p class="px-4" id="isbn">ISBN: {{ book.isbn13 }}</p>

        <!-- Buttons -->
        <div class="mt-4 flex gap-4 px-4">
          <span
            class="inline-flex items-left gap-1 rounded-full bg-red-50 px-2 py-1 text-xs font-semibold text-red-600">
            <button id="deletbutton" (click)="deleteBook(book.id)">Delete</button>
          </span>
          <span
            class="inline-flex items-left gap-1 rounded-full bg-indigo-50 px-2 py-1 text-xs font-semibold text-indigo-600">
            <a id="editbutton" [routerLink]="['/edit-book', book.id]">Edit</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>